<div class="icon-container">
    <a href="yufeng.houuu@gmail.com" target="_blank"><img src="assets/mail.png" alt="mail icon" class="icon" /></a>
    <a href="https://github.com/yvonnehouuu" target="_blank"><img src="assets/github.png" alt="github icon" class="icon" /></a>
    <a href="https://www.linkedin.com/in/yvonnehouuu/" target="_blank"><img src="assets/linkedin.png" alt="linkedin icon" class="icon" /></a>
    <a href="https://www.instagram.com/_yvvvvvvvv/" target="_blank"><img src="assets/instagram.png" alt="instagram icon" class="icon" /></a>
</div>

<style>
    .icon-container {
        display: flex;
        margin: 0 auto;
        width: 25%;
        justify-content: space-between;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding: 2rem;
    }
    .icon {
    }
</style>
